[*.{cs,vb}]

# IDE0028: Simplify collection initialization
dotnet_style_collection_initializer = false

# IDE0090: Use 'new(...)'
csharp_style_implicit_object_creation_when_type_is_apparent = false

# IDE0305: Simplify collection initialization
dotnet_diagnostic.IDE0305.severity = none

# IDE0057: Use range operator
csharp_style_prefer_range_operator = false
